.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.dist/
build/
.ipynb_checkpoints/
.DS_Store
.env
.cache/
renv*
.Rprofile
models/
predictions/ 
tuning_logs/
results/
results_figures/
results_tables/
data/
shap_values/
*.db
*.pdf
*.png
*.jpg
latex/*
!latex/*.tex
!latex/*.bib
