.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
.dist/
build/
.ipynb_checkpoints/
.DS_Store
.env
.cache/
renv*
.Rprofile
*.keras
predictions/ 
tuning_logs/
results/
results_figures/
results_tables/
*.csv
*.parquet
shap_values/
*.db
*.pdf
*.png
*.jpg
latex/*
!latex/*.tex
!latex/*.bib
*.ipynb

# Temp results
results.tex

local_tuning_logs/*

# Output logs 
*.out

# Config files
*.yaml

# Bash scripts
*.sh
*.ps1